<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
</head>

<body>
    <center style="margin-top: 250px">
        <h1>LOGIN PAGE</h1>

        <form action="/login" method="post" >
            <input type="text" name="email" style="margin-bottom: 20px" placeholder="ENTER THE NAME" /><br />
            <input type="password" id="password" name="password" style="margin-bottom: 20px"
                placeholder="ENTER THE PASSWIRD" /><br />
            <button id="loginButton" >login</button>
            <p >Dosen't have any account? Signup..</p>
            <button><a href="/">Signup</a></button>
        </form>


    </center>
    
</body>

</html>